<div class="container-fluid">
    <div id="main-navbar" class="navbar">
      <div class="navbar-inner">
        <span class="brand">TimePoke</span>
        <ul class="nav">
          <li class="active"><a href="#home">Home</a></li>
          <li><a href="#review-sessions">Review Sessions</a></li>
          <li><a href="#logout">Logout</a></li>
        </ul>
        <span id="tagline" class="brand" style="display:none"><small>Get ready to poke some time!</small></span>
      </div>
    </div>
    <section id="main">
    </section>
</div>
